<div>
  <router-outlet></router-outlet>
  <!--div class="webgl-content" cdkDrag>
    <div id="unityContainer" style="width: 200px; height: 200px"></div>
  </div -->

  <div class="container-messages-tips">
    <p-messages *ngFor="let msg of messageService.msg" severity="info"
                class="messages-tips">
      <ng-template pTemplate>
        <div style="flex: 1">
          <span>{{msg}}</span>
        </div>
        <div>
          <button pButton pRipple type="button" label="Cerrar"
                  class="p-button-text" (click)="onCloseMessage()"
          ></button>
        </div>
      </ng-template>
    </p-messages>
  </div>
</div>
